/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 16px; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

body {
    color: #333;
    background-color: aliceblue;
    font-family: 'Roboto', Tahoma, Geneva, sans-serif;
    font-size: 1em;
    line-height: 1.6;
}

code {
    display: block;
    padding: 5px 10px;
    background: #ebebeb;
    border-radius: 3px;
    margin: 15px;
    font-family: "Courier New", monospace, serif;
}

img {
    background-color: #f2f2f2;
}

ol > li {
   list-style-type: decimal; 
}

h1, .h1 {
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: nowrap;
}

h2, .h2 {
    font-size: 19px;
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: nowrap;
}

li {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: .5em;
    margin-bottom: .5em;
    list-style-type: disc;
}

a, a:visited {
    color:#0082D1;
    text-decoration:none;
}
a:hover, a:active {
    color:#003580;
    text-decoration:none;
}

.center {
    text-align: center;
    margin: auto;
}

.hide {
    display: none;
}

.bold {
    font-weight: 700;
}

.fullWidth {
   width: 900px; 
}

.maxHeight {
    max-height: 500px;
}

.maxHeightL {
    max-height: 2000px;
}

.lMargin20 {
    margin-left: 20px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.inlineMath {
    font-size: 90%;
}

.container {
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
    padding: 1px 20px;
    background: #ffffff;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    
    border: solid;
    border-width: 1px;
    border-color: #CDCDCD;
}

#footer {
    position: relative;
    bottom: 0px;
    width: 900px;
    height: 30px;
    padding-top: 10px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family:Tahoma, Geneva, sans-serif;
    font-size: 65%;
    font-style: normal;
    color: #999;
    border-top: 1px solid #CCC;
    clear: both;
    text-align:right;
}

#footerText {
    float: right;
}

#onGithub {
    margin-left: 3px;
}

/* Navigation */
 .navigation {
    position: relative;
    height: 23px;
    vertical-align: bottom;
    text-align: right;
    border-bottom: 1px solid #CCC;
    float: none;
    padding-bottom: 10px;
}
.nav-item, .nav-item-current {
    font-size: 120%;
    position: relative;
    bottom: -3px;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

.nav-item, .nav-item:visited {
    color: #999;
}

.nav-item:hover {
    font-weight: 100;
    color: #000;
    border-bottom: 2px solid #0082D1;
}
.nav-item-current, .nav-item-current:hover, .nav-item-current:visited {
    font-weight: 900;
    color: #000;
    border-bottom: 3px solid #0082D1;
}

/*.nav-item a, .nav-item-current a {
    padding-left: 0px;
    padding-right: 0px;
}
.nav-item a {
    font-weight: 100;
    text-decoration: none !important;
    color: #999;
}
.nav-item a:hover {
    font-weight: 100;
    color: #000;
    border-bottom: 2px solid #0082D1;
}
.nav-item-current a, .nav-item-current a:hover {
    font-weight: 900;
    text-decoration: none !important;
    color: #000;
    border-bottom: 3px solid #0082D1;
}*/

#nameHeader {
    font-family: Tahoma, Geneva, sans-serif;
}

#nameTitle {
    border:0;
    display:block;
    font-size:300%;
}

#nameTitle a, #nameTitle a:hover, #nameTitle a:visited {
    color: #000;
}

#namePosition {
    font-size: 50%;
    margin-bottom: -10px;
}


#gplus {
    top: 5px;
    position: absolute;
    float: left;
    left: -70px;
}
.socialIcons {
    position: relative;
    top: 4px;
    float: right;
    z-index: 100;
    
}
.socialIcons img {
    margin: 5px 5px 10px 5px;
    -moz-transition-property: opacity;
    /* Firefox 4 */
    -moz-transition-duration: 1s;
    /* Firefox 4 */
    -webkit-transition-property: opacity;
    /* Safari and Chrome */
    -webkit-transition-duration: 1s;
    /* Safari and Chrome */
    -o-transition-property: opacity;
    /* Opera */
    -o-transition-duration: 1s;
    /* Opera */
    transition-property: opacity;
    transition-duration: 1s;
    opacity:0.6;
    filter:alpha(opacity=60);
    /* For IE8 and earlier */
    
    background-color: transparent;
}
.socialIcons img:hover {
    opacity:1.0;
    filter:alpha(opacity=100);
    /* For IE8 and earlier */
}

.columns {
    min-width: 800px;
    padding: 20px;
    text-align:justify;
    /* CSS Column code for webkit */
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -webkit-column-rule-color: #888888;
    -webkit-column-rule-style: none;
    -webkit-column-rule-width: 2px;
    /* CSS Column code for mozilla */
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -moz-column-rule-color: #888888;
    -moz-column-rule-style: none;
    -moz-column-rule-width: 2px;
    /* CSS3 Column code  */
    column-count: 2;
    column-gap: 20px;
    column-rule-color: #888888;
    column-rule-style: none;
    column-rule-width: 2px;
}

/* index.php */

#twitterContainer {
    float: left;
    margin-left: 30px;
    width: 420px;
    height: 302px;
    background-color: #e8e8e8;
}

/* News */
#News {
    position: relative;
    color:#000;
    font-size:100%;
    margin-left:auto;
    margin-right:auto;
    width:450px;
    float:left;
    text-align:justify;
    overflow: hidden;
}
#NewsTitle {
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #e8e8e8;
    padding: 12px;
    line-height: 18px;
}
.NewsDate {
    float: left;
    width: 20%;
}
.NewsText {
    float: left;
    width: 80%;
    margin-bottom: 10px;
}

.NewsText > a{
    font-weight: 700;
    color: #00b430;
    
}

.NewsItem {
    font: 0.8em arial, sans-serif;
    border: 1px solid #e8e8e8;
    padding: 12px;
}

/* Bio */
#bioPic {
    box-shadow: 10px 10px 5px #888888;
    border-color:#0082D1;
    border-style:solid;
    border-width:3px;
    border-radius: 5px;
    float: right;
    margin-left: 10px;
    max-height:308px;
}

#bioText {
    text-align:justify; 
    margin-right:500px;
    margin-top: 40px;
}


#researchInterests {
    margin-top: 50px;
    margin-bottom: 50px;
}

#reInterestsCol{
    background-color: #FFC;
    color : #111111;
    border: 1px solid #FCC;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#devLanguages {
    float: left;
    width: 400px; 
    height: 300px;
}

/* Research */

.researchRow {
    margin-top: 50px;
    min-height: 250px;
    min-width: 600px;
}

.researchProject {
    width: 250px;
    height: 250px;
    cursor: pointer;
    float: left;
    margin-left: 37.5px;
    position: relative;
    color: #fff;
}

.researchProject:hover {
    box-shadow: 0px 0px 1px 5px #ffd700;
    color: #ffd700;     
}

.projectTitle, .projectTitle:visited {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    
}



/* Projects */
.projectCategory {
    width: 900px;
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 30px;
}

.projectRow {
    min-height: 250px;
    min-width: 600px;
}

/* CSS3 Button */
.button {
    cursor: pointer;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: inset 0px -1px 3px rgba(255, 255, 255, .5), 3px 3px 2px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0px -1px 3px rgba(255, 255, 255, .5), 3px 3px 2px rgba(0, 0, 0, .2);
    box-shadow: inset 0px -1px 3px rgba(255, 255, 255, .5), 3px 3px 2px rgba(0, 0, 0, .2);
    border: 1px solid;
    padding: 8px 12px;
    color: #fff;
    font-family: "Myriad Pro", Arial, Tahoma, sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.1), 0 0 15px rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    background: #9CF;
    border-color: #9CF;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    width: 250px;
    position: relative;
    text-align: center;
    top: 10px;
}
.button:hover, .button:focus {
    background: #66b3ff;
    border-color: #66b3ff;
}
.button:active {
    background: #4dff4d;
    border-color: #4dff4d;
}



/* Papers */

.papers {
    font-style:italic;
    font-weight:bold;
}
/* Table of Contents (toc) for Papers */
#toc ul {
    width: 760px;
    margin-bottom: 20px;
    overflow: hidden;
    border-top: 1px solid #ccc;
    list-style-type: disc;
}
#toc li {
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    line-height: 1.5em;
}


/* Error Page */
#errorContainer{
    width:450px;
    margin: 30px auto auto auto;
    font-size:1.5em;
    text-align: center;
    white-space:nowrap;
}

#errorMsg {
    margin: auto;
    width: 220px;
}

/* Contact Page */

#contactContent {
     margin-top: 50px;
}

#mapCanvas {
    width:100%; 
    height:100%; 
    min-width:300px; 
    min-height:300px;
}

/* Brick Breaker */

.brickbreaker {
    -webkit-transition: linear 0.5s;
    -moz-transition: linear 0.5s;
    -o-transition: linear 0.5s;
    -ms-transition: linear 0.5s;
    transition: linear 0.5s;
}
.brickbreaker img {
    -webkit-transition: linear 0.5s;
    -moz-transition: linear 0.5s;
    -o-transition: linear 0.5s;
    -ms-transition: linear 0.5s;
    transition: linear 0.5s;
}

/* TandemTable */

#CCPosterImg {
    float:left;
    transform:rotate(-10deg);
    -ms-transform:rotate(-10deg); /* IE 9 */
    -webkit-transform:rotate(-10deg); /* Safari and Chrome */
}

#TLLImg {
    float:right;
}

#TLLStudyImg {
    float:left;
}

.t {
    font-size: 0.8em;
    width: 900px;
    margin-top: 200px;
}

.researchTitle {
    text-align: center;
    max-height: 500px;
}

.researchTitle p {
    font-size: 0.8em;
     text-align: center;
    font-weight: 700;
    margin-top:20px;    
}

.researchSection {
    width: 800px;
    min-height: 300px;
    margin: 20px 50px 80px 50px;
    
}

.researchParagraph {
    min-width: 120px;
    max-width: 400px;
    float: left;
    text-align: justify;
    margin-top: 20px;
}

.researchSubtitle {
    text-align: center;
    font-weight: 700;
}

.researchImg{
    margin: 15px;
    padding: 10px;
    border: 5px solid black;
}
.researchContent {
    margin-top: 50px;
}

#SMTImg {
    float:right;
}
/* ForcePad */

#forcePadImg {
    float: right;
}

#forcePadParagraph {
    float: none;
}

/* Ray Tracer */
#raytracerOptions {
 height:500px;   
}

#raytracerText {
    float:left; 
    text-align:left;
    line-height:27px; 
    font-size:16px;
}

#raytracerButton {
    float:right;
}

#raytracerCanvasContainer{
    text-align: center;
    margin: 50px;
    padding: 20px;
    border: 5px solid #000;
}

/* QuakeVis */

.slider {
    margin-left: 350px;
}
#begDate {
    width: 80px;
}
#endDate {
    width: 80px;
}
#maxResults {
    width: 30px;
}

#svgTarget {
    margin-top: 50px;
    height:50px; 
    border-style: solid; 
    border-width:3px;
}

/* Midpoint */

.midpointTable {
    font-weight: 700;
    padding: 10px;
}
#midpointText table {
    margin: auto;
    text-align: center;
}
#midpointText input {
    max-width:40px;
}


#midpointCanvas {
    border: dotted; 
    width: 100%; 
    height: 100%;
}

#brickbreakerText {
    float:left;
    max-width: 400px;
}
.tube {
    margin-top:30px;
    text-align: center;
}

/* Webcam */
#webcamCanvas {
    display: none;
    visibility: hidden;
}

#webcamContents {
    margin-top: 30px;
}

#filmRoll {
    float: left;
    width: 360px;
    min-height: 264px;
    border: 5px solid #000;
}

#filmRoll img{
    width: 320px;
    padding: 20px;
    border-top: 5px solid #000;
}

#filmRoll div:first-child img{
    border-top: 0px solid #000;
}
/* Blog */
#blog {
    width: 600px;
    max-width: 780px;
    float: left;
}

.blogEntry {
    border-bottom: 5px solid #000;
}

.blogEntry:last-child {
    border-bottom: 0px solid #000;
}

.blogTitle {
    text-align: center;
    margin-top: 15px;
}

.blogVideo {
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

.blogText {
    padding: 50px; 
    padding-top: 0px;
    text-align:justify;
}

#linkBar {
    border: 3px solid #000;
    width: 260px;
    float: left;
    padding: 5px;
    margin-left: 20px;
    margin-top: 5px;
}

#linkBar a {
    font-size: 0.8em;
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: nowrap;
}

.blogPaper {
    padding-left: 60px;
    font-size: 0.8em;
}

.blogPaper a {
    font-style: italic;
}


#choiceLang {
    padding-left: 20px;
}

.publication {
    width: 750px;
    margin-right: 100px;
    margin-left: 105px; 
    margin-bottom: 30px;
    max-height: 1000px;
}

.year {
    margin: 20px 50px 20px 50px;
    width: 100%;
    font-size: 1.2em;
    max-height: 100px;
}

.pubType {
    margin: 20px 50px 20px 0px;
    width: 100%;
    font-size: 1.2em;
    max-height: 100px;
}

.tllPubs {
    font-size: 0.8em;
    width: 900px;
    margin-top: 200px;
    max-height: 500px;
    margin-left: 50px;
}

.author {
    font-weight: 700;
}

.dlImg {
    vertical-align: middle; 
    margin-left: -45px;
}

.paperLink {
    margin-left: 15px;
}
.seperator {
    width: 100%;
    border-color: rgb(99, 167, 14);
    border-width: 10px;
    border-style: dashed;
}

.ackLogo {
    margin-right: 50px;
}

#ackSection {
    min-height: 50px;
    width: 800px;
    margin: 20px 50px 10px 50px;
}

#perceptTCont {
     margin: 20px 50px 0px 50px;
}

#slider {
    background-color: rgba(135, 206, 250, 0.17);
}

#sliderCont {
    padding-bottom: 0px;
    min-height: 425px;
}


.bDate {
    padding: 50px;
    padding-top: 30px;
    text-align: left;
}

.sym {
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 85px;
}
.pLocation {
    font-size: 0.9em;   
}
#newsFrame {
    width: 100%;
    height: 258px;
    background-color: #e8e8e8;
}

#gallery {
    height: 600px;
    width: 80%;
    background-color: #000;
    margin: 20px auto;
}








/* Slide out menu  */
.transition {
	transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

#menu {
    background: #ededed;
    border-right: 3px solid #636363;
    top: 0px;
    width: 150px;
    padding: 30px;
    position: fixed;
    z-index: 20;
    box-shadow: 4px 0 10px rgba(0,0,0,0.25);
    left: -220px;
    visibility: hidden;
    height: 100%;
}

#menu ul {
    padding: 0;
    list-style: none;
    width: 100%;
}

#menu li {
    list-style: none;
    width: 100%;
}

#handle {
    visibility: hidden;
    z-index: 10;
    background-color: transparent;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #DEB887;
    position: fixed;
    left: -195px;
    cursor: pointer;
    top: 483px;
}

#cLevelMenu, .menuButtons {
    padding: 10px 0px 10px 10px;
    width: 100%;
    border: 1px solid #dfdfdf;
    text-decoration:none;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	cursor: pointer;
	text-shadow:1px 1px 0px #ffffff;
}

#cLevelMenu ul {
    z-index:30;
    visibility:hidden;
    position: absolute;
    list-style: none;
    margin: 0; 
    padding: 0;
    left: 10em;
    top: 3em;
}

#cLevelMenu ul li{
    z-index:30;
    float: left;
    line-height: 1.3em; 
    vertical-align: right; 
    padding: 10px 10px;
    background-color: #ededed;
    border: 1px solid #dfdfdf;
    cursor: pointer;  
}

#cLevelMenu ul li:active { 
    position: relative; 
    left: 1px;
    background-color: #d5d5d5;
}


span.hl-bright {
    color: #295ecf;
}

#progressBar {
    background-color: #777777;
    border-radius: 13px;
    padding: 3px;
}

#innerProgressBar{
    background-color: #9EBCDA;
    width: 70%;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 0px;
    color: #CCFFFF;
    font-size: 0.8em;
    font-family: Tahoma;
    text-shadow: 1px 1px Black;
}

#progBarTitle {
    font-weight:bold;
    text-align:center; 
}